<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
 <description>Exemples de Servlet</description>
 <display-name>Servlet acces MySQL</display-name>
 <servlet>
  <servlet-name>listClients</servlet-name>
  <servlet-class>model.ListClients</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Gerant</servlet-name>
  <servlet-class>model.Gerant</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>updateListCl</servlet-name>
  <servlet-class>model.UpdateListCl</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>editClient</servlet-name>
  <servlet-class>model.EditClient</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>affCompte</servlet-name>
  <servlet-class>model.AffCompte</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>virement</servlet-name>
  <servlet-class>model.Virement</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>updateVir</servlet-name>
  <servlet-class>model.UpdateVir</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>verif</servlet-name>
  <servlet-class>model.Verif</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>warn</servlet-name>
  <servlet-class>model.LoginWarning</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreerClient</servlet-name>
  <servlet-class>model.CreerClient</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>SuppCl</servlet-name>
  <servlet-class>model.SuppCl</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CreerCompte</servlet-name>
  <servlet-class>model.CreerCompte</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>Recup</servlet-name>
  <servlet-class>model.Recup</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>log4j-init</servlet-name>
  <servlet-class>model.Log4jInit</servlet-class>
  <init-param>
   <param-name>log4j-init-file</param-name>
   <param-value>/WEB-INF/classes/log4j.properties</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>listClients</servlet-name>
  <url-pattern>/listClients</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Gerant</servlet-name>
  <url-pattern>/Gerant</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>updateListCl</servlet-name>
  <url-pattern>/updateListCl</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>editClient</servlet-name>
  <url-pattern>/editClient</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>affCompte</servlet-name>
  <url-pattern>/affCompte</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>virement</servlet-name>
  <url-pattern>/virement</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>updateVir</servlet-name>
  <url-pattern>/updateVir</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>verif</servlet-name>
  <url-pattern>/Verif</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>warn</servlet-name>
  <url-pattern>/loginWarning</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreerClient</servlet-name>
  <url-pattern>/CreerClient</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>SuppCl</servlet-name>
  <url-pattern>/SuppCl</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CreerCompte</servlet-name>
  <url-pattern>/CreerCompte</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>Recup</servlet-name>
  <url-pattern>/Recup</url-pattern>
 </servlet-mapping>
 <session-config>
  <session-timeout>20</session-timeout>
 </session-config>
 <welcome-file-list>
  <welcome-file>login.jsp</welcome-file>
 </welcome-file-list>
 <resource-ref>
  <description>Il s'agit ici, d'une référence à la source de données servant à
    		communiquer avec la base de données mySQL configurée 
    		dans le fichier server.xml de tomcat8.</description>
  <res-ref-name>jdbc/toto</res-ref-name>
  <res-type>javax.sql.DataSource</res-type>
  <res-auth>Container</res-auth>
 </resource-ref>
</web-app>
